
<div class="form-control">
    <input class="form-control" type="text" [(ngModel)]="filter" >
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>TestId</th>
                <th>TestName</th>
                <th>NormalRangeStart</th>
                <th>NormalRangeEnd</th>
                <th>Unit</th>
                <th>Price</th>
                <th> Status</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let test of TestDetailsservice.testDetails |filter:filter |paginate:{itemsPerPage:1,currentPage:page}">
                <td>{{test.TestId}}</td>
                <td>{{test.TestName}}</td>
                <td>{{test.NormalRangeStart}}</td>
                <td>{{test.NormalRangeEnd }}</td>
                <td>{{test.Unit}}</td>
                <td>{{test.Price}}</td>
                <td>{{test.Status}}</td> 
                    
            </tr>
        </tbody>
    </table>
   <div class="footer">
        <pagination-controls (pageChange)="page=($event)"></pagination-controls>
    </div>
    
