<app-nav-bar></app-nav-bar>
<div class="container">
      <app-nav-menu></app-nav-menu>
      <app-appointment-list id="appointForday"></app-appointment-list>
      <app-nav-menu></app-nav-menu>
      <app-appointments-for-doctor id="appointFordoc"></app-appointments-for-doctor>
      <app-nav-menu></app-nav-menu>
      <app-medicine id="medList"></app-medicine>
      <app-nav-menu></app-nav-menu>
      <app-medicine-for-an-appointment id="medApp"></app-medicine-for-an-appointment>
      <app-nav-menu></app-nav-menu>
      <app-test-report id="testReport"></app-test-report>
</div>