<input  type="text" [(ngModel)]="filter" class="form-control"  style="margin-top: 100px;width: 200px;margin-left: 800px;" placeholder="Serach text Here" />
<h3 >APPOINTMENTs FOR THE DAY</h3>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Patinet ID</th>
                    <th>Patient Name</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    *ngFor="let appointment of doctorService.appointments | filter:filter| paginate:{itemsPerPage:5,currentPage:page}">

                    <td>{{appointment.token}}</td>
                    <td>PT0{{appointment.patientId}}</td>
                    <td>{{appointment.firstName + ' ' + appointment.lastName}}</td>
                    <td>{{appointment.date| date:'yyyy-MM-dd'}}</td>
                    <td>
                        <button class="btn btn-sm btn-primary" (click)="edit(blog.PostId)">Edit</button>
                        
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<pagination-controls (pageChange)="page = $event"></pagination-controls>