<input  type="text" [(ngModel)]="filter" class="form-control"  style="margin-top: 100px;width: 200px;margin-left: 800px;" placeholder="Serach text Here" />
<h3 >Medicine Prescribed For A Appointment </h3>
<div class="card">
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Medicine Name</th>
                    <th>Doze</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let med of medService.medicineForAnAppoint| filter:filter| paginate:{itemsPerPage:5,currentPage:page}">
                    <td>{{med.medName}}</td>
                    <td>{{med.doze}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<pagination-controls (pageChange)="page = $event"></pagination-controls>